body {
    font-family: Arial, sans-serif;
    background-image: url('77.jpg');
    background-size:cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(168, 15, 15, 0.1);
}


input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

h1, p {
    color: #fffdfd; /* Dark gray color */
}